---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section
        class="relative flex flex-col items-center justify-center bg-primary text-white h-full w-full overflow-hidden py-24 lg:py-32"
    >
        <h1 class="text-4xl font-bold text-center mt-20">Thank You!</h1>
        <p class="text-center mt-4 text-lg">
            Your message has been sent successfully!
        </p>
    </section>
</Layout>
