---
import { navbar } from "../lib/navbar";
---

<header
    id="header"
    class="fixed top-0 left-0 right-0 bg-transparent w-full z-50"
>
    <nav class="flex items-center justify-between h-20 py-5 px-6 transition-all duration-300 mx-auto max-w-7xl">
        <a href="/">
            <figure class="flex items-center gap-2">
                <img
                    src="/logo.jpg"
                    alt="Logo de Self-Taught English"
                    class="w-20"
                />
                <figcaption class="text-white font-black">
                    Self-Taught English
                </figcaption>
            </figure>
        </a>
        <ul class="flex items-center gap-7 text-white font-bold">
            {
                navbar.map((item) => (
                    <a
                        href={item.href}
                        class="hover:text-secondary transition-colors duration-200"
                    >
                        {item.value}
                    </a>
                ))
            }
        </ul>
        <button
            class="flex items-center gap-2 rounded-lg bg-secondary text-white py-2 px-4 text-base font-bold shadow-secondary/25 hover:bg-secondary/90 hover:shadow-lg hover:shadow-secondary/30 transition-all cursor-pointer"
            >Reserva ahora
        </button>
    </nav>
</header>

<script>
    const header = document.getElementById("header");

    const handleScroll = () => {
        header?.classList.toggle("scrolled", window.scrollY > 0);
    };

    window.addEventListener("scroll", handleScroll, { passive: true });
</script>
