---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="generator" content={Astro.generator} />
        <title>Master Class Self-Taught English - Aprende más rápido de forma inteligente y económica</title>
    </head>
    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
