---
import "../styles/global.css";
import NavbarZh from "../components/zh/NavbarZh.astro";
import FooterZh from "../components/zh/FooterZh.astro";
---

<!doctype html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="generator" content={Astro.generator} />
        <title>Master Class Self-Taught English - Learn faster with intelligent and economical methods</title>
    </head>
    <body>
        <NavbarZh />
        <slot />
        <FooterZh />
    </body>
</html>
